[data-split="words"] .line-mask {
  padding-block: 0.5rem;
  margin-block: -0.5rem;
}

/* hide page scrollbar */
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
/* end hide page scrollbar */
